@charset "UTF-8";
.select-menu-wrap {
  position: absolute; }

.select-menu {
  list-style: none;
  border: solid 1px #000;
  width: 120px;
  margin-left: 14px;
  padding: 0;
  height: 20px;
  cursor: default; }
  .select-menu li {
    margin: 0;
    padding: 0;
    height: 20px;
    text-align: left;
    padding-left: 9px;
    display: none; }
  .select-menu li[selected="selected"] {
    position: relative; }
  .select-menu li[selected="selected"]::after {
    content: '▾';
    position: absolute;
    left: 100px; }
