
.select-menu-wrap {
  position: absolute;
}

.select-menu {
  list-style: none;
  border: solid 1px #000;
  width: 120px;
  margin-left: 14px;
  padding: 0;
  height: 20px;
  cursor: default;

  li {
    margin: 0;
    padding: 0;
    height: 20px;
    text-align: left;
    padding-left: 12px;
    display: none;
  }
}

.select-menu-dropdown {
  position: absolute;
  top: 0px;
  left: 13px;
  width: 122px;
  list-style: none;
  border: solid 1px #555;
  padding: 0;
  background-color: #EEE;
  display: none;
  border-radius: 2px;

  li {
    margin: 0;
    padding: 0;
    padding-left: 12px;
    height: 20px;
    text-align: left;
    cursor: default;
  }

  li:hover {
    background-color: #02599E;
  }
}
